@import url('badge.css');

/*----------- BUTTON ----------*/
.btn-holder {
    width: 400px;
    height: 300px;
    margin: 50px auto 0;
}

.btn-lg.btn-toggle {
    padding: 0;
    margin: 0 5rem;
    position: relative;
    height: 2.5rem;
    width: 6rem;
    border-radius: 3rem;
    color: #6b7381;
    background: #bdc1c8;
    margin-bottom: 30px;
}

.btn-toggle.btn-lg>.switch {
    position: absolute;
    top: 0.2rem;
    left: 0.1rem;
    width: 2rem;
    height: 2rem;
    border-radius: 1.875rem;
    background: #fff;
    transition: left .25s;
}

.btn-toggle.active {
    background-color: #ff8800;
}

.btn-toggle.btn-lg.active>.switch {
    left: 3.75rem;
    transition: left .25s;
}
.btn-lg.btn-toggle::before {
    content: "Inactive";
    right: -5rem;
    opacity: 0.5;
    line-height: 2.5rem;
    width: 5rem;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    transition: opacity .25s;
}
.btn-lg.btn-toggle:after {
    content: "Active";
    right: -5rem;
    opacity: 0.5;
    line-height: 2.5rem;
    width: 5rem;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    transition: opacity .25s;
}

.btn-lg.btn-toggle.active:after {
    opacity: 1;
}

/*------------ CHECKBOX -------------*/
.toggle-switch {
    margin: 0 auto;
    width: 241px;
    margin-top: 20px;
    position: relative;
}

.toggle-switch label {
    padding: 0;
}

input#cb-switch {
    display: none;
}

.toggle-switch label input+span {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    width: 6rem;
    height: 2.5rem;
    background: #bdc1c8;
    border: 1px solid #eee;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    box-shadow: inset 0 0 5px #828282;
}

.toggle-switch label input+span small {
    position: absolute;
    display: block;
    width: 2rem;
    height: 2rem;
    border-radius: 1.875rem;
    background: #fff;
    transition: all 0.3s ease-in-out;
    top: 0.2rem;
    left: 0.2rem;
}

.toggle-switch label input:checked+span {
    background-color: #ff8800;
}

.toggle-switch label input:checked+span small {
    left: 3.7rem;
    transition: left .25s;
}

.toggle-switch span:after {
    content: "Active";
    line-height: 2.5rem;
    width: 5rem;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    transition: opacity .25s;
    left: 6rem;
    opacity: 0.5;
    color: #6b7381;
}

.toggle-switch label input:checked+span:after {
    opacity: 1;
}

.dropdown-icon-status {
    background-color: #1E3555;  /* Dark Blue background */
    color: white;               /* White icon */
    padding: 4px 10px;          /* Spacing around icon */
    border-radius: 6px;         /* Rounded corners */
    display: inline-block;      /* Adjust display */
}
.dropdown-item {
    cursor: pointer;
}
.swal2-input{
    width: 100% !important;
    margin: 0px !important;
}
.textarea-swal2-input{
    height: 115px !important;
}
