.dash-title h1 {
    font-size: 20px;
}

.table thead{
    background: transparent;
}
/* .thead-light{
    background: #E7E9F6;
} */
/* .table thead {
    background: #E7E9F6;
} */

/* .rowMargin{
    margin-top: 0px;
} */

.setStyle {
    font-family: 'Poppins', serif;
}

.setCard {
    border: 1px solid #252F49;
}

.card {
    border-radius: 4px;
    padding: 0px;
}

.innerCards {
    border-radius: 10px;
    padding: 0px;
}

.card .card {
    padding: 14px;
}

.card.checked {
    background-color: green;
}

.setBgColor {
    background-color: #D3FFE6;
}

.fontSize {
    font-family: "Poppins", serif;
    font-size: 15px;
    /* color:black; */
}

.countFontSize {
    font-family: "Poppins", serif;
    font-size: 17px;
}

.countFontSize2 {
    font-family: "Poppins", serif;
    font-size: 24px;
    font-weight: 600;
    color: #252F49;
}

.cardFontSize {
    font-family: "Poppins", serif;
    font-size: 12px;
}

.font13 {
    font-size: 13px;
    font-weight: medium;
}

.cardh5Size {
    color: black;
    font-size: 18px;
    font-weight: 600px;
}

.cardAnalyticsSize {
    color: black;
    font-size: 16px;
}

.buttoncolor {
    background-color: #203f5f;
    color: white;
}

.h5Size {
    font-size: 30px;
}

.card.setCardSize {
    margin-right: 10px;
    padding: 0px;
    background-image: url('../images/TruckCard.png');
    background-repeat: no-repeat;
    background-position: bottom 0px right 0px;

}

.status-toggle .check:checked+.checktoggle.tog {
    background-color: #203f5f;
    border: none;
    height: 20px;
    width: 41px;

}

.status-toggle .check:checked+.checktoggle.tog:after {
    border: 2px solid #4D82CE;
    height: 16px;
    width: 16px;
}

.status-toggle .checktoggle.tog {
    background-color: #FF7A7E;
    border: none;
    height: 20px;
    width: 41px;
    /* border: 3px solid #BB1F23; */
}

.status-toggle .checktoggle.tog:after {
    border: 2px solid #BB1F23;
    height: 16px;
    width: 16px;
}

.status-toggle .checktoggle.log {
    background-color: #50E500;
    border: none;
    height: 30px;
    width: 60px;
}
/* 
.status-toggle .checktoggle.log:after {
    border: 1px solid #3EB100;
    height: 25px;
    width: 25px;
} */
.customer-additional-form .status-toggle .checktoggle:after{
    height: 25px;
    width: 25px;

}

.status-toggle .check:checked + .checktoggle.log{
    background-color: gray;
    border: none;
}

.status-toggle .check:checked + .checktoggle.log:after{
    border: none;
    height: 20px;
    width: 20px;
}

.checkbox-cardBg {
    background-color: #D3FFE6;
}

.sidebar {
    width: 268px;
    position: fixed;
    z-index: 10;
    /* Adjust as needed */
}

.sidebarFont {
    font-family: "Poppins", serif;
    font-size: 50px;
}

.page-wrapper {
    padding-top: 0px;
}

.logopin {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    padding-top: -80px;
    padding-top: -80px;
}

.noticIcon {
    height: 100px;
    width: 100px;
}

.btnColor1 {
    background-color: #203A5F;
}

.cardSeeBtn {
    height: 37px;
    width: 111px;
}

.textSize {
    font-size: 22px;
}

.mainFontFamily {
    font-family: "Poppins", serif;
}

.btnColor {
    background-color: #252F49;
    color: #ffffff;
    /* font-size:14px; */
}

.iconSize {
    font-size: 17px;
}

.shadow-box {
    box-shadow: 3px 1px 15px rgba(0, 0, 0, 0.3);

}

/* .card .card{
    padding: 15px 30px;
} */

.li {
    list-style-type: disc !important;
    color: green;
    /* height:7.5px;
    width:7.5px; */
}

.fixContainer {
    padding: 83px 14px 10px 14px;
}

.innerContainer {
    padding: 15px 109px 15px 30px;
}

.setTopBottomMargin {
    margin: 17px 0px 17px 0px;
}
.margin-header{
    margin: 0px;
}

.profileBg{
    background:transparent;
}

.profileImg{
    width:100%;
    height: 100%;
}

.profileUpdateFont{
    font-style: "Poppins", serif;
    font-size: 14px;
    font-weight: 400px;
}


.profile-cover-avatar {
    border : none;
    margin: 0px;
}

.iconResize{
    width: 35px;
    height:35px;
    font-size: 20px;
}

.avatar-edit {
    bottom : 275px;
    right: 70px;
    color:white;
    background-color: #203A5F;
    /* position: top 0px right 0px; */
}

.setBorder{
    border-color: rgba(62, 65, 71, 0.288);
    border-right : none;
    /* border-radius: 4px; */
}

.btn-outline-cancelBtn{
    background-color: #252F49;
    color: white;
}

.avatar-trash{
    bottom: 275px;
    right: 25px;
    color: white;
    border-radius: 50%;
    background-color: #BB1F23;  
    font-size: 20px;
    position:absolute;
    justify-content: center;
    align-items: center;
}

.required::after {
    content: "*";
    color: red;
}

.top-search{
    height: 33px;
    width: 191px;
}

.forms-input{
    width:157px;
    height:31px;
    margin-left:30px;
}

.th-font{
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 400px;
}

.bg-success-bg{
    background-color: #B6FFD3;
}

.bg-danger-bg{
    background-color: #FFB5AA;
}

.bg-warning-bg{
    background-color: #FFD6A5;
}

.stock-font{
    font-size:11px;
    border-radius: 4px;
    /* font-weight: 600px; */
}

.input-box{
    border: 1px dashed #CDDDE4;
    color: #AAACB8;
    border-radius: 1px;
    background-size: 8px 6px;
    font-size: 2px;
}

.input-width {
    /* height: 21px; */
    width: 55px;
    font-size: 10px;
    border-radius: 0px;
}
.button-border{
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0px;
    margin: 0px 5px 0px 5px;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    background-color: #1983FE;
    color: white;
    border: none;
}

.button {
    display: inline-block;
    padding: 5px 10px;
    margin: 10px;
    background-color: transparent;
    border: 1px solid #ccc;
    color: black;
    font-size: 14px;
    font-weight: 600px;
    cursor: pointer;
}

.input-padding{
    padding: 0px;
}

.no-border{
    border:0px;
}

/* .status-toggle .no-circle{
    border: 1px solid #BB1F23;
    height: 16px;
    width: 16px;
} */

/* #rating_6{
    border:0px;
    background-color: green;
} */

.btn-save{
    background-color: #3a3a3a;
    color: white;
}

.toggle-label{
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
}

.faded{
    opacity: 0.5px;
    color: gray;
}

.login-logo-font{
    font-family: "Red Rose", serif;
    font-size: 20px;
    font-weight: 700px;
}

.bg-image-login{
    background-image: url('../images/Loginimage.jpeg');
    background-repeat: no-repeat;

    background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 30px;
    font-weight: 700;
}

.btnBorder{
    border: none;
    color: black;
}