.subhead {
  font-size: 20px;
  font-weight: 600;
  color: #3A3A3A;
  font-family: "Poppins";
  white-space: nowrap;
}

.page-header.tomain {
  align-items: start;
}

.invoices-main-tabs .invoices-tabs ul li a.active {
  color: #203A5F;
  border-bottom: 2px solid #203A5F;
  font-size: 16px;
  font-weight: 600px !important;
}

.borderset {
  border: 1px solid #00000042;
  border-radius: 8px;
  margin-top: 0;
  padding: 14px 15px !important;
  height: 100%;
}


.cal-icon-info {
  position: relative;
}

.foncolor {
  color: #737B8B !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  padding-top: 5px;
  margin: 2px;
}
.mobile_code
{
  .foncolor
  {
    margin: 0 0 8px 0;
  }
}
.borderset .mobile_code .foncolor { margin: 2px; }


.inp {
  border: 1px solid #00000042 !important;
  height: 40px !important;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 400!important;
}

.inp::placeholder {
  color: #737B8B;
}

.customer-btn-save {
  background-color: #252F49 !important;
  border: 1px #252F49 !important;
  color: #252F49 !important;
}

.btn-primary {
  background-color: #252F49 !important;
  height: 37px;
  justify-content: center !important;
  align-items: center !important;
}

.btnn {
  border: 1px solid #3a3a3a !important;
  height: 37px !important;
  text-align: center;

}

.status-toggle .check:checked+.checktoggle {
  background-color: gray;
  border: none;
  height: 23px !important;
  width: 46px !important;
  margin-right: 10px;
  margin-left: 10px;
}
.inventory{
  color:#000000;
  padding:10px !important;
  font-weight: 500;
}

.status-toggle .checktoggle {
  background-color: #50E500;
  border: none;
  height: 23px !important;
  width: 46px !important;
  margin-right: 10px;
  margin-left: 10px;
}

/* .status-toggle {
  margin-top: 7px;
} */
td .status-toggle {
  margin-top: 0px;
}

.status-toggle .checktoggle:after {
  border: 1px black;

  /* height: 23px;
    width: 46px; */
}

.customer-additional-form .status-toggle .checktoggle:after {
  height: 16px;
  width: 16px;
  border: 1px solid #309B08;
}

.inactive {
  margin-right: 10px;
  color: #737B8B;
}

.status-toggle span {
  margin-left: 0px;
}

.status-toggle.checktoggle.togc:after {
  border: 2px solid red
}

.custom-btn {
  border-color: #3a3a3a;
  color: #3a3a3a;
  height: 37px;
  margin-right: 10px;
}

.custom-btn:hover {
  background-color: #3a3a3a;
  border-color: #3a3a3a;
  height: 37px;
  margin-right: 10px;
}

.ah {
  color: #3a3a3a;
}

.colordate {
  color: #737B8B !important;
}

.input-block input.form-control {
  color: #595C5F;
  font-size: 14px;
}

.input-block .form-control {

  color: #595C5F;
}

.input-block input.form-control::placeholder {
  color: #595C5F;
  font-size: 14px;
}

.select2-selection__rendered::placeholder {
  color: #595C5F !important;
  font-size: 14px;
}

.select2-container--default .select2-selection--single {
  height: 40px !important;
}

/* Ensure the button color remains consistent */
.custom-btn {
  background-color: #fff !important;
  /* Default background color */
  border-color: #3A3A3A !important;
  /* Default border color */
  color: #3A3A3A !important;
  /* Default text color */
}

.daterangepicker-wrap input.btn-filters {
  font-weight: normal;
  /* border: none !important; */
}

.table thead tr th {
  font-weight: 500;
  /* border-color: 1px solid #00000042 !important;
        border-bottom: 1px solid #00000042 !important;
        border: 1px solid #00000042 !important; */
        border:none
    }
    .customerr{
        padding-bottom: 30px;
    }
    .phead{
      font-size:18px;
      font-weight:600;
      color:#000000;
      padding-bottom: 3px !important;
    }
    .pdata{
      font-size:14px;
      font-weight: 500;
      color:#3A3A3A;
      padding-bottom: 2px !important;
    }
    td{
        /* border: 1px solid #00000042 !important; */
        height:45px !important;
        /* width:96px !important; */
    }
    .tdborder{
      border:none;
    }
    .amountfont{
     font-weight:700;
     color: #3A3A3A ;
     min-width: 70px;
    }
    .datatable{
      border:none !important;
    }
   
    .card-table .card-body .table tr:nth-child(2n) td {
      color:#3A3A3A !important;
  }
    .orderhistory{
      font-size: 20px;
      font-weight: 600;
      color: #3A3A3A;
      padding-top: 20px !important;
    }
    .customerhead{
      height:125px;
      padding-left: 1px;
      padding-right: 1px;
      padding-bottom: 15px;
    }
    
    .table tbody td a:hover {
      color:#3A3A3A;
  }
  /* .container {
    display: flex;
    align-items: center; 
  }
  .container img {
    margin-right: 10px; 
  } */
.alignt{
   text-align: center;
  }

    /* .customerbody{
  border: none
}

.customerr {
  padding-bottom: 30px;
}

.phead {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  padding-bottom: 3px !important;
}

.pdata {
  font-size: 14px;
  font-weight: 500;
  color: #3A3A3A;
  padding-bottom: 2px !important;
}

td {
  /* border: 1px solid #00000042 !important; */
 /* td{ height: 45px !important;} */
  /* width:96px !important; */


.tdborder {
  border: none;
}

.amountfont {
  font-weight: 700;
  color: #3A3A3A;
}

.datatable {
  border: none !important;
}

.card-table .card-body .table tr:nth-child(2n) td {
  color: #3A3A3A !important;
}

.orderhistory {
  font-size: 20px;
  font-weight: 600;
  color: #3A3A3A;
  padding-top: 20px !important;
}

.customerhead {
  height: 150px;
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 15px;
}

.table tbody td a:hover {
  color: #3A3A3A;
}

/* .container {
  display: flex;
  align-items: center;
} */

.container img {
  margin-right: 10px;
  /* This adds space between the image and the text */
}

.alignt {
  text-align: center;
}

/* .customerbody{
      height:446px;
      padding-top: 5px;
      padding-bottom:5px;
      gap:20px;
    } */
.imgin {
  width: 20px;
}

.plusimg {
  height: 15px;
}

.mwidth {
  height: 45px !important;
  width: 157px !important;

}

td.image-cell img {
  justify-items: center;
  margin-left: 43px;
  width: 12px;

}

.tdbor {
  border: 1px solid #0000001A
}

.table thead {
  font-size: 13px;
  text-align: center;
  font-weight: 600 !important;
  height: 46px !important;
}

.image-container img {
  margin-right: 0px;
  align-items: center;
}

.imgaction {
  height: 45px !important;

  display: flex;
  /* Aligns items in a row */
  align-items: center;
}

.invocebuttoncolor {
  background-color: #33B469 !important;
  border: 1px solid #33B469 !important;
}

.thwidth {
  width: 96px;
}

.image-container img {
  margin-left: 4px;
}

.table-responsive {
  border-radius: 8px !important;
}



table,
th,
td {
  border: none !important;
  border-collapse: collapse !important;
  outline: none !important;
}

table thead {
  border: none !important;
}

table tbody {
  border: none !important;
}


.inputcolor {
  background-color: #F2F2F2;
  border: 1px solid #0000001f;
}

.commenth {
  height: 80px !important;
}

.dheight {
  height: 205px !important;
}

.avtars {
  border-radius: 150px;
  width: 156px;
}

.custodis {
  border: 1px solid #00000042;
  margin-top: 20px !important;
  height: 205px;
  border-radius: 8px;
  /* margin-left:1px !important; */
  align-items: center;
}

.avtarset {
  position: relative;
  display: flex;
  height: 156px;
  margin-block: auto;
}
.custodis .avtarset {
  height: unset;
}

.set {
  margin-block: auto;
}

.ptop {
  padding-top: 20px;
  justify-content: space-between;
}

.labelstatus {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px 16px;
  height: 28px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 0;
}
.labelstatus.Inactive
{
  
  background: #ffdada7e;
  color: #FF0000;
}
.labelstatus.Active
{
  
  background: #E1FFED;
  color: #33B469;
}

.labelstatusy {
  background: #FFEDD9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: 28px;
  border-radius: 4px;
  color: #EC8000;
  font-size: 13px;
  font-weight: 500;
}

.labelstatusw {
  background: #DAFFE9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: 28px;
  border-radius: 4px;
  color: #33B469;
  font-size: 13px;
  font-weight: 500;
}

.labelstatusp {
  background: #E7D9FF;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: 28px;
  border-radius: 4px;
  color: #600AF3;
  font-size: 13px;
  font-weight: 500;
}

.labelstatuspi {
  background: #F9DAFF;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: 28px;
  border-radius: 4px;
  color: #BD14DF;
  font-size: 13px;
  font-weight: 500;
}

.orderbutton {
  background-color: #203A5F;
  height: 26px;
  border-radius: 4px;
}

.customerpopup {
  background-color: #203A5F !important;
  height: 37px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
}

.btntext {
  text-align: center;
}

.amargin {
  margin-left: 40px;
}

.select2 {
  width: 100%;
  height: 40px;
  /* border: 1px solid #00000042; */
  border: unset;
  border-radius: 4px;
  color: #737B8B;
}

.dropdown-items {
  font-size: 12px;
}

.btn-close {
  width: 20px;
  height: 20px;
  margin-bottom: 10px !important;
}

.paid-cancel-btn {
  background-color: #fff;
  border: 1px solid #203A5F;
  border-radius: 8px;
  color: #203A5F;

  font-size: 14px;
  font-weight: 400;

}

.popupc {
  font-size: 16px !important;
  font-weight: 500 !important;
  font-style: "Poppins" !important;
  color: #3A3A3A !important;
  gap: 17px;
}

.form-header h4 {
  color: #3A3A3A;
  font-size: 18px;
  font-weight: 500px;
  margin-bottom: 20px;
}

.custom-modal .modal-header {
  padding: 24px;
  border-bottom: 1px solid #000000;
}

.Note {
  height: 115px !important;
}

.service-upload {
  border: 1px dashed #00000042;
  text-align: center;
  background-color: #fff;
  position: relative;
  padding: 0px !important;
  min-height: 180px;
  border-radius: 4px;
}

.modal-content {

  border-radius: 8px;
}

.table .dropdown-item {
  font-weight: 500;
  font-size: 13px;
  color: #3A3A3A;
  padding: 10px 20px 10px;
}

.confirmationpopup {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.nav-item {
  list-style-type: none;
}

.popdate {
  margin-left: auto !important;
}

.custom-btn:hover {
  background-color: #fff !important;
  border-color: #3A3A3A !important;
  color: #3A3A3A !important;
}

/* .table {
 border: 1px solid #00000042 !important;
} */
.tables {
  border: none !important;
}

.passeye {
  margin-top: 10px;
  margin-right: 5px;
}

.custom-btn:active {
  background-color: #fff !important;
  border-color: #3A3A3A !important;
  color: #3A3A3A !important;
}

.input::placeholder {
  text-align: left !important;
}

.custom-btn:focus {
  background-color: #fff !important;
  border-color: #3A3A3A !important;
  color: #3A3A3A !important;
  outline: none;
}

.usersserach {
  margin-left: auto;
}

.head {
  color: #737B8B;
  margin-top: 10px;
}



/* Hey */



/* Basic Styles */
.tabs {
  width: 100%;
  max-width: 600px;
}



.tab-titles {
  display: flex;
  /* Enables flexbox layout */
  padding: 0;
  margin: 0;
}

.tab-title {
  padding: 5px 10px;
  line-height: 27px;
  text-align: center;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #203A5F;
  margin-right: 0;
  /* Ensure no margin between elements */
  transition: background-color 0.3s ease;
  flex: none;
  /* Prevent the labels from stretching */
  width: 180px;
  height: 37px;
  font-weight: 400;
  font-size: 14px;
  color: #203A5F;
}

.tab-title:last-child {
  margin-right: 0;
  /* Ensure no margin on the last label */
}



.tab-title:hover {
  background-color: #FFFFFF;
}

.tab-title:active {
  background-color: #bbb;
}

/* Hide radio buttons */
input[type="radio"] {
  display: none;
}

/* Hide all content sections initially */
.tab-content {
  display: none;
  padding: 20px;
  background-color: #f9f9f9;
}

/* Show the content corresponding to the checked radio button */
#tab1:checked~.tab-titles~#content1 {
  display: block;
}

#tab2:checked~.tab-titles~#content2 {
  display: block;
}

#tab3:checked~.tab-titles~#content3 {
  display: block;
}

#tab4:checked~.tab-titles~#content4 {
  display: block;
}
#tab5:checked~.tab-titles~#content5 {
  display: block;
}

#tab6:checked~.tab-titles~#content6 {
  display: block;
}

/* Highlight the active tab */
#tab1:checked~.tab-titles label[for="tab1"],
#tab2:checked~.tab-titles label[for="tab2"],
#tab3:checked~.tab-titles label[for="tab3"],
#tab4:checked~.tab-titles label[for="tab4"],
#tab5:checked~.tab-titles label[for="tab5"],
#tab6:checked~.tab-titles label[for="tab6"] {
  background-color: #203A5F;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
}

.bgcolorcustomer {
  background-color: #EDEDED;

}

/* .container {
  display: flex;
  align-items: center;
} */

.container img {
  height: 100%;
  /* Image will take the full height of the line */
  width: auto;
  /* Maintains the image's aspect ratio */
  margin-right: 10px;
  /* Adds space between image and text */
  vertical-align: middle;
  /* Ensures the image aligns with the middle of the text */
}

  /* .container p {
    line-height: 1.5;
    font-size: 16px;
  } */

.fas {
  font-weight: 900;
  margin: auto;
}

h2 {
  color: white;
}

.inputbackground {
  background-color: #EDEDED;
}
.avtarc {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.avtard {
  position: relative;
  height: 150px;
}

.editstyle {
  width: 20px;
  height: 20px;
}

.divedit {
  position: absolute;
  top: -10px;
  right: -10px;
  display: flex;
  flex-direction: row;
  gap: 5px;

}

.content-page-header {
  align-items: center;
}

.content-page-header {
  margin-top: -5px;
  justify-content: space-between;
}
.content-page-header:has(.usersearch.d-flex.usersserach) {
  margin-top: -7px;
}
.top-nav-search form .form-control {
  height: 31px !important;
  margin-right: 8px;
  padding: 10px 15px 10px 10px;
}

.usersearch.usersserach .mt-2,
.usersearch.usersserach .top-nav-search form {
  margin-top: 0 !important;
}

.refeshuser {
  height: 30px;
  width: 29px;
  margin-top: 0px;
  margin-left: 0px;
  padding: 5px;
}


.card-table .card-body .table th {
  text-align: start;
}

.card-table .card-body .table td:first-child {
  text-align: center;
}



.daterangepicker-wrap.cal-icon::after {
  left: 10px;
  right: auto;
  top: 6px;
}

.foninput {
  margin-top: 0;
}

.marginb {
  margin-bottom: 15px;
}

/* .text-end {
  padding-top: 120px;
  padding-bottom: 30px;
} */

.divform {
  margin-bottom: 3px !important;
}

/* .card .card-body {
  padding:1 rem !important;
} */
.topnavs {
  /* border-bottom: 1px dashed #DFDFDF;  */
  width: 100%;
  padding-bottom: 10px;
}

/* .innertopnav{
  border-bottom: 1px dashed #DFDFDF; 
  width: 100%;
 } */
.pheads {
  padding-bottom: 20px !important;
 }


 .textbutton{
  padding-top: 50px;
    padding-bottom: 30px;
 }
 .tabletext{
   text-align: center !important;
 }



 
input[type="checkbox"] {
  width: 16px;
  height: 16px;
  border: 1px solid #203A5F; 
  border-radius: 4px; 
  appearance: none; 
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  background-color: #fff; 
}


input[type="checkbox"]:checked {
  background-color: #203A5F; 
  border-color: #203A5F; 
}


input[type="checkbox"]:checked::after {
  content: '✔'; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  color: white; 
  font-size: 12px; 
}
.toggles .checktoggle.log:after {
  border: 2px solid #BB1F23;
  height: 20px;
  width: 20px;
}


.toggles .checktoggle.log{
  background-color:#FF7A7E;
  height: 20px;
  border :1px solid #BB1F23;
}

.toggles .check:checked+.checktoggle.log{
  background-color: #203A5F;
  height: 20px;
  width: 20px;
}
.toggles .check:checked+.checktoggle.log:after{
  border:2px solid #4D82CE;
}

.togglep{
  justify-content: center;
}

.custo{
  justify-content: space-between;
    padding-top: 20px;
}
.status-toggle .check:checked+.checktoggle.log:after {
  border: none;
  height: 16px;
  width: 16px;
}

.labelstatusc{
  background: #C0FBFF;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: 28px;
  border-radius: 4px;
  color:#03A1AC;
  font-size: 13px;
  font-weight: 500;}


  .custom-zindex {
    position: relative;
    z-index: 100;
}

.droparrow{background-color:#203A5F;
  border-radius:5px;
  width: 30px;
  height: 26px;
  align-content: center;}

  .statusposition{
    text-align: center !important;
  }
  .colours{
    color:#595C5F !important;
  }
  .table tbody td a.btn-action-icon {
    background:none !important;
    color: #3F4254;
    width: 28px;
    height: 28px;
    padding: 0;
    border-radius: 50px;
}

.invoicei{
  color:#3A3A3A;
}
.challanh{
  margin:10px;
}
.challan{
  margin-left:90px;
}



.inoice{font-size: 30px;
    font-weight: 600;
    color: #3A3A3A;}

    .invoic{font-size: 30px;
      font-weight: 400;
      color: #3A3A3A;}


      .delta{
        border-top: 1px solid #3A3A3A;
        border-bottom:1px solid #3A3A3A;
        margin-left:20px; 
        display:flex;
        margin-right:20px; 
        height:49px;
        font-size:17px;
        color:#000000;
        justify-content: space-between;
        align-items: center;
      }

      .shift{
        margin-left:20px; 
        margin-right:20px; 
        display: flex;
        justify-content: space-between;
        margin-top:20px;
      }

      .bar{
        margin-top:50px;
      }

      .invoicem{
        font-size:17px;
        color:#000000;
        font-weight:600;
        margin-top: 20px;
      }

      .invoiceaa{
        color:#000000 !important;
    font-weight: 500 !important;
      }
      .invoicec{
        color:#000000 !important;
      }
      .invoice-container {
        display: flex;
        justify-content: flex-end;
        width: 80%;
      }

      .inco{
        justify-content:space-between;
        width:100%;
      }

      






      #calendar-container {
        width: 300px;
        background-color: white;
        border: 1px solid #ddd;
        border-radius: 12px;
        padding: 15px;
        font-family: 'Roboto', sans-serif;
      }
      
      .calendar-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        font-weight: bold;
      }
      
      .calendar-header button {
        background-color: white;
        color: black;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
      }
      
      .calendar-grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 5px;
        text-align: center;
      }
      
      .day-name {
        font-weight: bold;
        color:Black;
      }
      
      .date {
        padding: 10px 0;
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.2s;
        color:black;
      }
      
      .date:hover {
        background-color: #eee;
      }
      
      .date.selected {
        background-color: #2c3e50;
        color: white;
      }
      
      #prev-month,
#next-month {
  font-size: 20px;
}

.calender{
  color:black
}

.timePickersSLots .day{
  min-width: 85px;
  justify-content: flex-start;
}


.inputs{
  padding: 1px;
    font-size: 13px !important;
}