h2 {
    color: unset;
}

.fs_18 {
    font-size: 18px;
}

.fs_20 {
    font-size: 20px;
}

.fs_22 {
    font-size: 22px;
}

.fs_24 {
    font-size: 24px;
}

.fs_26 {
    font-size: 26px;
}

.fw_600 {
    font-weight: 600 !important;
}

.fw_500 {
    font-weight: 500 !important;
}

.col00 {
    color: #000000;
}

.col3A {
    color: #3A3A3A;
}

.colb0b {
    color: #B0B4BF;
}

.col737 {
    color: #737B8B !important;
}

.purpleText {
    color: #9A99C2 !important;
}

.coldarkblue {
    color: #203A5F;
}

.dash-title h1 {
    font-size: 20px;
}

.table thead {
    background: transparent;
}
.bg-transparent{
    background-color: transparent;
}

/* .thead-light{
    background: #E7E9F6;
} */
/* .table thead {
    background: #E7E9F6;
} */

/* .rowMargin{
    margin-top: 0px;
} */


.chart_height{
    height: 365px;
}

.btn-outline-primary {
    border-color: #3a3a3a;
    color: #3a3a3a;
}

.btn-outline-primary:hover {
    background-color: transparent;
    border-color: #3a3a3a;
    color: #3a3a3a;
}

table thead.set {
    text-align: left;
}

.table-content {
    color: #737B8B;
}

.card-table .card-body .table{
    color: black !important;
}
.setStyle {
    font-family: 'Poppins', serif;
}

.setCard {
    border: 1px solid #252F49;
}

.card {
    border-radius: 4px;
    padding: 0px;
}

.innerCards {
    border-radius: 10px;
    padding: 0px;
}

.card .card {
    padding: 14px;
}

.card.checked {
    background-color: green;
}

.setBgColor {
    background-color: #D3FFE6;
}

.fontSize {
    font-family: "Poppins", serif;
    font-size: 15px;
    /* color:black; */
}

.countFontSize {
    font-family: "Poppins", serif;
    font-size: 17px;
}

.countFontSize2 {
    font-family: "Poppins", serif;
    font-size: 24px;
    font-weight: 600;
    color: #252F49;
}

.table tbody td a.btn-action-icon {
    height: 26px;
    width: 26px;
}

.cardFontSize {
    font-family: "Poppins", serif;
    font-size: 12px;
}

.font13 {
    font-size: 13px;
    font-weight: medium;
}

.cardh5Size {
    color: black;
    font-size: 18px;
    font-weight: 600px;
}

.cardAnalyticsSize {
    color: black;
    font-size: 16px !important;
}

.form-header h4.font16 {
    font-size: 16px;
    font-weight: 500px;
}

.buttoncolor {
    background-color: #203f5f;
    color: white;
}

.h5Size {
    font-size: 30px;
}

.card.setCardSize {
    margin-right: 10px;
    padding: 0px;
    background-image: url('../images/TruckCard.png');
    background-repeat: no-repeat;
    background-position: bottom 0px right 0px;

}

.status-toggle .check:checked+.checktoggle.tog {
    background-color: #203f5f;
    border: none;
    height: 20px;
    width: 41px;

}

.status-toggle .check:checked+.checktoggle.tog:after {
    border: 2px solid #4D82CE;
    height: 16px;
    width: 16px;
}

.status-toggle .checktoggle.tog {
    background-color: #FF7A7E;
    border: none;
    height: 20px;
    width: 41px;
    /* border: 3px solid #BB1F23; */
}

.status-toggle .checktoggle.tog:after {
    border: 2px solid #BB1F23;
    height: 16px;
    width: 16px;
}

.status-toggle .checktoggle.log {
    background-color: #50E500;
    border: none;
    /* height: 20px;
    width: 41px; */

}

.status-toggle .checktoggle.log:after {
    border: 1px solid #3EB100;
    height: 20px;
    width: 20px;
}

.status-toggle .check:checked+.checktoggle.log {
    background-color: gray;
    border: none;
}

.status-toggle .check:checked+.checktoggle.log:after {
    border: none;
    height: 20px;
    width: 20px;
}


.status-toggle .check:checked+.checktoggle.gle {
    background-color: #50E500;
    border: none;
    height: 20px;
    width: 41px;
}

.checktoggle {
    margin-left: 0px;
}


.status-toggle .checktoggle.gle:after {
    height: 20px;
    width: 20px;
    margin-left: 0px;
    color: #D9D9D9;
}


.sidebar {
    width: 100%;
    /* shubham */
    max-width: 268px;
    position: fixed;
    z-index: 10;
    /* Adjust as needed */
}

.sidebar .sidebar-menu ul li {
    margin-left: 5px !important;
    margin-right: 15px !important;
}

.sidebarFont {
    font-family: "Poppins", serif;
    font-size: 50px;
}

.page-wrapper {
    padding-top: 0px;
}

.noticIcon {
    height: 100px;
    width: 100px;
}

.btnColor1 {
    background-color: #203A5F;
}

.btn-padding1{
    padding: 0px 30px;
}
.btn-padding2{
    padding: 0px 20px;
}

.btn-content{
    border: none;
    float: inline-end;
}
.cardSeeBtn {
    height: 37px;
    width: 111px;
}

.customer-additional-form .status-toggle .checktoggle.tog-circle:after {
    height: 19px;
    width: 19px;
    border: none;
}


.textSize {
    font-size: 22px;
}

.mainFontFamily {
    font-family: "Poppins", serif;
}

.btnColor {
    background-color: #252F49;
    color: #ffffff;
    /* font-size:14px; */
}

.iconSize {
    font-size: 17px;
}

.shadow-box {
    box-shadow: 3px 1px 15px rgba(0, 0, 0, 0.3);

}

.marginTopBottom {
    margin: 30px 0px 30px 0px;
}

.li {
    list-style-type: disc !important;
    color: green;
    /* height:7.5px;
    width:7.5px; */
}

.fixContainer {
    padding: 83px 14px 10px 14px;
}

.innerContainer {
    padding: 15px 109px 15px 30px;
}

.setTopBottomMargin {
    margin: 17px 0px 17px 0px;
}

.margin-header {
    margin: 0px;
}

.profileBg {
    background: transparent !important;
}

.profileImg {
    width: 100%;
    height: 100%;
}

.profileUpdateFont {
    font-style: "Poppins", serif;
    font-size: 14px;
    font-weight: 400px;
}


.profile-cover-avatar {
    border: none;
    margin: 0px;
}

.iconResize {
    width: 35px;
    height: 35px;
    font-size: 20px;
}

.avatar-edit {
    bottom: 275px;
    right: 70px;
    color: white;
    background-color: #203A5F;
    /* position: top 0px right 0px; */
}

.setBorder {
    border-color: rgba(62, 65, 71, 0.288);
    border-right: none;
    /* border-radius: 4px; */
}

.btn-outline-cancelBtn {
    background-color: #252F49;
    color: white;
}

.avatar-trash {
    bottom: 275px;
    right: 25px;
    color: white;
    border-radius: 50%;
    background-color: #BB1F23;
    font-size: 20px;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.required::after {
    content: "*";
    color: red;
}

.top-search {
    height: 33px;
    width: 191px;
}

.forms-input {
    width: 157px;
    height: 31px;
    margin-left: 30px;
}

.th-font {
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 400px;
}

.twobutton2{
    margin-top: 27px;
    display: flex;
    justify-content: end;
    gap: 20px;
}
.bg-success-bg {
    background-color: #B6FFD3;
}

.bg-danger-bg {
    background-color: #FFB5AA;
}

.bg-warning-bg {
    background-color: #FFD6A5;
}

.stock-font {
    font-size: 11px !important;
    border-radius: 4px;
    /* font-weight: 600px; */
}

.checktoggle:after {
    border: none !important;
    height: 16px !important;
    width: 16px !important;
}

.input-box {
    border: 1px dashed #CDDDE4;
    color: #AAACB8;
    border-radius: 1px;
    background-size: 8px 6px;
    font-size: 2px;
}

.input-width {
    /* height: 21px; */
    width: 55px;
    font-size: 10px;
    border-radius: 0px;
}

.button-border {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0px;
    margin: 0px 5px 0px 5px;
}



.active2 {
    text-decoration: none !important;
    border-bottom: 4px solid black !important;
    color: black !important;
    font-size: 16px !important;
    font-weight: 700px !important;
}

.active3{
    text-decoration: none;
    border-bottom: 4px solid #203A5F !important;
    font-weight: 800px !important;
    color: #203A5F !important;
    position: relative !important;
}
.authTabDiv {
    border-bottom: 2px solid #737B8B !important;
    width: max-content !important;

}


.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    background-color: #1983FE;
    color: white;
    border-bottom: 1px solid black;
}

.button {
    display: inline-block;
    padding: 5px 10px;
    margin: 10px;
    background-color: transparent;
    border: 1px solid #ccc;
    color: black;
    font-size: 14px;
    font-weight: 600px;
    cursor: pointer;
}

.input-padding {
    padding: 0px;
}

.no-border {
    border: 0px;
}

.service-upload {
    min-height: auto;
}

/* .status-toggle .no-circle{
    border: 1px solid #BB1F23;
    height: 16px;
    width: 16px;
} */

#rating_6 {
    border: 0px;
    background-color: green;
}

.btn-save {
    background-color: #3a3a3a;
    color: white;
}

.toggle-label {
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
}

.faded {
    opacity: 0.5px;
    color: gray;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    background-color: transparent;
    border-color: transparent;
}


.login-logo-font {
    font-family: "Red Rose", serif;
    font-size: 20px;
    font-weight: 700px;
}

.bg-image-login {
    background-image: url('../assets/images/Loginimage.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.form-control:disabled, .select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: white !important;
}

h6 {
    font-size: 30px;
    font-weight: 500;
    color: #3a3a3a;
}

.btnBorder {
    border: none;
    color: black;
    margin-bottom: -3px;
    font-weight: 700px !important;
}

.setColor {
    color: black;
}

.login-btn {
    background: 203A5F;
    text-align: center;
    font-weight: 600;
    font-size: .75rem;
    /* line-height: 1rem;*/
}

.font-size2 {
    font-size: 25px;
    font-family: "Poppins", serif;
    font-weight: 700px;
}


.red-rose-fontSet {
    font-family: "Red Rose", serif;
    font-weight: 700px;
    font-style: normal;
    font-size: 20px;
}

.backgroundImage {
    background-image: url('../assets/images/Background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
    padding: 0px;
    background-position: absolute;
}

.setSize {
    width: 60px;
    height: 72px;
}

.permission-font {
    color: #3A3A3A;
    font-size: 14px;

}

.text-indigo-600 {
    background-color: black;
}

.text-checkbox {
    color: #203A5F;
}

.bg-checkbox {
    background-color: #d6e2f1;
}

.form-check-input:checked {
    background-color: #203A5F !important;
    border: 1px solid white !important;
    color: white !important;
    height: 16px;
    width: 16px;
}

.selected2 {
    background-color: #203A5F !important;
    border-color: #203A5F !important;
    color: white !important;
}

.selected {
    color: white !important;
}

.img-size {
    height: 55px;
    width: 60px;
    text-align: center;
    vertical-align: middle;
}


/* .td-color {
    color: #3A3A3A;
} */

.bg-set {
    background-color: rgb(240, 208, 240);
    color: rgba(243, 8, 153, 0.74);
}
.bg-set2{
    background-color:#E1FFED;
    color: green;
}
.bg-set3{
    background-color:#FFDADA;
    color: red;
}
.bg-set4{
    background-color:#FFEFDD;
    color: #EC8000;
}

.paid-continue-btn {
    border-color: #3A3A3A;
}

.paid-continue-btn:hover{
    border-color: #203A5F;
    background-color: #203A5F;
    color: white;
}
.parentDiv {
    display: inline-block;
    width: auto;
}

.table-responsive .table {
    border: none !important;
}

.table-body tbody tr td {
    border: none !important;
}

.thead-light .no-border th {
    border: none !important;
}

.cd-horizontal-timeline .timeline.tl1 {
    max-width: 100%;
    width: 100%;
    margin-top: 70px;
    margin-left: 0px;
    margin-right: 0px;
}

.cd-horizontal-timeline .events a {
    color: #3a3a3a;
}

.card.widthautoset {
    width: auto;
    box-shadow: 3px 5px 15px rgba(44, 44, 44, 0.3);
    border-radius: 13px;
    background-color: #F7F8F9;
    padding: 0px;
}

.icon-size-22 {
    height: 22px;
    width: 22px;
    margin: 6px 0px 0px 6px;
}

.d-display {
    display: inline-block;
}

.events-content li {
    width: auto;
}

.cd-horizontal-timeline .filling-line,
.cd-horizontal-timeline .events a.selected::after {
    background: black;
}

.cd-horizontal-timeline .filling-line {
    background-color: #203A5F;
}

.cd-horizontal-timeline .events a.selected::after {
    background-color: #203A5F;
    border: 2px solid #203A5F;
}

.cd-horizontal-timeline .events {
    height: 3px;
    background: #203A5F;
}

.cd-horizontal-timeline .events a::after {
    border: 4px solid #203A5F;
    height: 25px;
    width: 25px;
    bottom: -10px;

}

.cd-horizontal-timeline .events a.older-event::after {
    border-color: #203A5F;
}

.company-booking-address.company-five-address,
.invoice-address-details.invoice-five-group,
.inovices-card .inovices-widget-header,
.multipleSelection .selectbox,
.multipleSelection .selectboxes,
.app-listing,
.error-page,
.toggle-sidebar .sidebar-header,
.form-group-add .booking-option,
.content-invoice-header,
.content-page-header,
.inovices-widget-header {
    justify-content: left;
}

.btn-size {
    background-color: #BB1F23;
    color: white;
}

/* .calendar-body{
    background-color: #1e2a38;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

.bold {
    color: black;
}

.faded {
    color: #a0a0a0;
}

.header .profile {
    border: transparent;
    font-size: 26px;
    font-weight: 200px !important;
}

.calemdar-contaner {
    background: #f9f9f9;
    border-radius: 10px;
    padding: 15px;
    width: 280px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0.2);
    text-align: center;
    position: relative;
}

.border-radius-6 {
    border-radius: 6px;
}
.modal-content.border-radius{
    border-radius: 6px;
}
.modal-content.resized{
    width: 296px;
}

.border-set{
    border-bottom: 1px solid black;
}

/* .btn-close.set-dimension {
    width: 40px !important;
    height: 40px !important;
    margin-bottom: 0px !important;
    opacity: 1 !important;
} */

.calemdar-header {
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 10px;
}

.calender-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.day {
    width: 35px;
    height: 35px;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    font: 14px;
}

.day:hover {
    background-color: #d0d0d0;
}

.selected3 {
    background-color: skyblue;
    color: white;
}

.inactive {
    color: #d1cbcb;
    pointer-events: none;
}

.selected-schedule-color {
    color: #595C5F;
}

.opacity-25 {
    opacity: 0.25;
}

.opacity-100 {
    opacity: .50;
}

.dash-logo img {
    max-width: 100%;
}

.bg-dark {
    background-color: #343a40;
}

.margin-margin {
    margin-top: 35px;
}

.profile-picture .upload-profile .profile-img .avatar {
    width: 100px;
    height: 100px;
}

.iconwrapper {
    width: 100px;
    height: 100px;
    align-content: center;
    background-color: #203a6033;
    border-radius: 50%;
    text-align: center;
}

.iconwrapper svg {
    width: 60px;
    height: 60px;
    stroke: #203A5F;
}

.btn {
    font-weight: 400;
    border-radius: 8px;
    height: 37px;
    line-height: 18px;
}

.btn-path .btn {
    padding: 8px 25px;
}

.btn i.ti {
    font-size: 22px;
    bottom: 0px;
    position: relative;
    line-height: 10px;
    padding-right: 2px;
}

.btn.update i.ti {
    bottom: -3px;
}

.btn-primary:hover i {
    color: #203a5f !important;
}

.mt-n5 {
    margin-top: -2rem;
}

.text-danger,
.dropdown-menu>li>a.text-danger {
    color: #BB1F23 !important;
}

.toggle-password {
    cursor: pointer;
    font-size: 23px;
    position: absolute;
    right: 15px;
    top: 21%;
    color: #595C5F;
}

.btn-size {
    width: 36px;
    height: 26px;
    font-weight: 2px;
    border-radius: 4px;
    padding: 0px;
}

.icon-size {
    font-weight: 2px;
    padding: 0px;
}

.tr-size {
    color: #c0c1c4;
}

.bg-text-color1 {
    background-color: #E7D9FF;
    color: #600AF3;
}

.bg-text-color2 {
    background-color: #F9DAFF;
    color: #BD14DF;
}

.service-upload.img-size2 {
    min-height: 85px;
    /* padding: 10px !important; */
    align-content: center !important;
}

.background-instock {
    background-color: #B6FFD3;
}

.bg-selected1 {
    background-color: #D3FFE6;
    border-color: green;
}

hr.border-opac {
    opacity: .75;
}

.btn-border-color {
    border: 1px solid #3A3A3A;
    background-color: white;
}

.modal-footer .btn-back {
    background-color: none;
    border-color: #3a3a3a;
}

.font-10{
    font-size: 10px;
}
/* @media (min-width: 576px) {
    .modal-dialog .md-small {
        max-width: 20%;
    }
} */


/* - Calendar     */

#calendar-container {
    width: 90%;
    max-width: 500px;
    background: white;
    padding: 15px;
    border-radius: 10px;
    height: 350px;
    overflow: hidden;
}

.fc-toolbar {
    background: #00AEEF;
    text-align: center;
    border-radius: 8px;
    padding: 10px 0px;
}

.fc-toolbar-title {
    color: white !important;
    font-size: 18px;
    font-weight: bold;
}

.fc-daygrid {
    height: 230px !important;
}

.table.calen {
    border-collapse: separate;
}

.fc-daygrid-daynumber {
    color: black !important;
    font-weight: 600px;
    text-decoration: none !important;
    font-size: 14px;
}

.fc-day-today {
    background: #00AEEF;
    color: white !important;
    border-radius: 8px;
    font-weight: bold;
}

.fc-button {
    background: transparent;
    color: white !important;
    border: none;
    font-size: 18px;
}

.fc-button:hover {
    color: #fff !important;
}

.fc-prev-button,
.fc-next-button {
    font-size: 18px !important;
    color: white !important;
    background: none !important;
    border: none !important;
}

.fc-prev-button::before {
    content: "<";
    font-size: 20px;
    font-weight: bold;
}

.fc-next-button::before {
    content: ">";
    font-size: 20px;
    font-weight: bold;
}

.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
    min-height: 0px;
}

.dash2 {
    width: max-content;
}

.dash2 h2 {
    font-size: 24px;
}

[data-topbar=light] body .header .toggle-bars .bar-icons {
    background: #ffffff;
}


/* WNSshubham */
.card.mainCardGlobal:before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 2px;
    border-bottom: 1px dashed #dededecc;
    top: 62px;
}

.btn-primary {
    background-color: #203A5F !important;
}

.btn.padd {
    padding: 8px 25px;
}

.fs_18 {
    font-size: 18px;
}

.fs_20 {
    font-size: 20px;
}

.fs_22 {
    font-size: 22px;
}

.fs_24 {
    font-size: 24px;
}

.fs_26 {
    font-size: 26px;
}

.fw_600 {
    font-weight: 600 !important;
}

.fw_500 {
    font-weight: 500 !important;
}

.col00 {
    color: #000000;
}

.col3A {
    color: #3A3A3A;
}

.col737 {
    color: #737B8B;
}

.coldarkblue {
    color: #203A5F;
}

/* input::placeholder,
select::placeholder,
textarea::placeholder
{
    color: #595C5F!important;
} */
input::placeholder,
select::placeholder,
textarea::placeholder {
    color: #737B8B;
}

input,
select,
textarea,
[type=text],
input:where(:not([type])),
[type=email],
[type=url],
[type=password],
[type=number],
[type=date],
[type=datetime-local],
[type=month],
[type=search],
[type=tel],
[type=time],
[type=week],
[multiple],
textarea,
select {
    color: #3a3a3a !important;
    font-family: 'Poppins', serif !important;
    font-size: 14px !important;
}

body.mini-sidebar.expand-menu .sidebar {
    width: 245px;
}

.page-wrapper .content {
    padding: 20px;
}

.page-wrapper .content>.card {
    border-radius: 0;
}

.dropdown-menu {
    border-radius: 4px;
}

.content-page-header h6,
.content-page-header p,
.heading {
    font-size: 22px;
    color: #3a3a3a;
    font-weight: 500;
    margin: 0;
}

.basic-info-detail h6 {
    font-size: 14px;
    color: #000;
    margin-bottom: 5px;
}

.basic-info-detail p {
    color: #3a3a3a;
}

.sidebar .sidebar-menu ul li.active a span {
    color: #203A5F;
    background: #d3d3d3;
    margin-left: 0%;
    margin-right: 0;
}

.page-wrapper {
    min-height: 100%;
}

.iti.iti--allow-dropdown.iti--separate-dial-code {
    display: block;
}

.iti--separate-dial-code .iti__selected-flag {
    background-color: #ffffff !important;
    color: #3a3a3a;
}

.daterangepicker-wrap {
    padding-left: 0px !important;
}

.daterangepicker-wrap input {
    padding-left: 50px;
}

.daterangepicker-wrap.cal-icon:after {
    top: 6px;
}

.toggle-password1 {
    padding: 10px;
    position: absolute;
    right: 0;
    height: 100%;
    align-content: center;
    font-size: 20px;
    cursor: pointer;
}

.daterangepicker-wrap .inp {
    height: 39px;
}

.sidebar {
    .sidebar-menu {
        ul.sidebar-vertical {
            li.submenu ul li {
                margin-bottom: 0px;

                a {
                    padding: 5px 0px 5px 15px;

                    span i {
                        color: #ffffff00;
                    }
                }

                a:hover {
                    color: #203A5F;
                    background-color: #ffffff00;
                }
            }

            li {
                margin-bottom: 12px;

                a {
                    padding: 12px 0px 12px 18px;

                    span {
                        font-size: 16px;
                        font-weight: 500;
                    }

                    i.menuIcon {
                        font-size: 25px;
                        color: #737B8B;
                    }
                }

                a.active {
                    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 5%, rgba(229, 229, 234, 1) 5%, rgba(229, 229, 234, 1) 100%);

                    span {
                        color: #203A5F;
                    }


                }

                a.active:before {
                    background: #203A5F;
                }

                a.active:after {
                    display: none;
                }
            }

            li.submenu li:hover a {
                background: #ffffff00;
            }

            li.submenu ul li.active {
                background: #ffffff00;

                a {
                    background: #ffffff00;

                    span {
                        background: #ffffff00;
                        font-weight: 600;

                        i {
                            color: #203A5F;
                        }
                    }

                }

                a.active.subdrop {
                    i.menuIcon {
                        color: #203A5F;
                    }
                }
            }

            li.active {
                i.menuIcon {
                    color: #203A5F;
                }
            }

            li {
                a.active.subdrop {
                    i.menuIcon {
                        color: #203A5F;
                    }
                }
            }

            li:hover>a {
                background: #e5e5ea;
            }

            li:hover i.menuIcon {
                color: #203A5F;
            }

        }
    }
}

.card-body .table-responsive {
    border-radius: 0px !important;
}

.td {
    display: flex;
    padding: 5px 0;
    font-size: 11px;

    i {
        font-size: 18px;
    }

    p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        width: 160px;
        font-size: 11px;
    }
}

/* timeline css  */
.cd-horizontal-timeline.mannuallyCSS {
    .timeline.w-100 {
        max-width: 100%;
        min-height: 200px;

        .events-wrapper {
            align-content: center;
            margin: 0 30px;
        }

        .cd-timeline-navigation {
            a {
                border: 2px solid #203A5F;
                color: #203A5F;
                background: white;
            }

        }

        .cd-timeline-navigation a::after {
            left: -5px;
            top: 4px;
            content: "\ea61";
            font-family: "tabler-icons" !important;
            font-size: 26px;
        }

        .events {
            height: 3px;
            background: #737B8B;
            width: 100% !important;
            position: relative;
            top: 0;
        }

        .events-wrapper ol {
            display: flex;
            justify-content: space-evenly;

            li {
                width: 100%;
                max-width: 160px;
            }

            a {
                position: absolute;
                left: unset !important;
                top: -60px;
                height: 65px;
                width: 150px;

                .bigfont {
                    color: #3a3a3a !important;
                    font-size: 16px;
                    font-weight: 500;
                }

                .smfont {
                    color: #737B8B !important;
                    font-size: 12px;
                    font-weight: 500;
                }
            }

            .bottom {
                margin-top: 38px;
                height: 80px !important;
            }

            a.bottom:after {
                top: -33px;
            }

            a.selected {
                color: #3a3a3a !important;
            }
        }
    }

    .events-content p {
        color: #737B8B;
    }
}

.cd-horizontal-timeline.two.mannuallyCSS.type2 {
    .timeline.w-100 {
        max-width: 100%;
        min-height: 140px;

        .events-wrapper {
            align-content: center;
            margin: 0 34px;
        }

        .cd-timeline-navigation {
            a {
                border: 2px solid #203A5F;
                color: #203A5F;
            }
        }

        .cd-timeline-navigation a::after {
            left: -5px;
            top: 4px;
            content: "\ea61";
            font-family: "tabler-icons" !important;
            font-size: 26px;
        }

        .events {
            height: 3px;
            background: #737B8B;
            width: 100% !important;
            position: relative;
            top: 0;
        }

        ol {
            li {
                width: 100%;
                max-width: 100px;
            }

            a {
                position: absolute;
                left: unset !important;
                top: -40px;
                height: 44px;
                width: 140px;

                .smfont {
                    color: #203A5F !important;
                    font-size: 14px;
                    font-weight: 500;
                }
            }

            a.selected::after {
                background-color: #203A5F;
                border: 3px solid #ffffff;
                box-shadow: 0px 0px 0px 3px #203A5F;
                width: 19px;
                height: 19px;
                bottom: -7px;
            }
        }

    }

    .events-content li {
        padding: 0;
    }

    .row {
        max-width: 100%;
    }
}

/* timeline css  */

.btn-primary:focus {
    color: #fff !important;

    i {
        color: #fff !important;
    }
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px;
}

.daterangepicker-wrap.mannual {
    height: 40px;

    input {
        height: 100%;
    }
}

.activityCard {
    background: linear-gradient(178deg, rgba(255, 255, 255, 0) 0%, rgba(237, 237, 237, 1) 100%);
    border: 1px solid #00000042;
    border-radius: 13px;
    box-shadow: 0px 4px 10px #00000042;
    width: max-content;
    padding: 0 !important;
    margin-bottom: 20px;

    i.ti {
        font-size: 22px;
        color: #FFC107;
        margin-top: 2px;
        margin-right: 6px;
    }

    .activityCard p {
        line-height: 26px !important;
    }

    button.btn.btn-primary.smbtn {
        height: 34px;
        background-color: #252f4833 !important;
        color: #252f48 !important;
    }

    button.btn.btn-danger.smbtn {
        height: 34px;
        background-color: #BB1F2333 !important;
        color: #BB1F23;
    }

    button.btn.btn-success.smbtn {
        height: 34px;
        background-color: #33B46933 !important;
        color: #33B469;
    }
}

.page-wrapper {
    min-height: 100% !important;
}

.select2-container--default {
    .select2-results__option--highlighted[aria-selected] {
        background: #203A5F;
        color: #fff;
    }
}

.invoice .dposition {
    input {
        font-size: 13px !important;
        border-radius: 4px !important;
        height: 40px;
    }

    i {
        position: absolute;
        left: 20px;
        bottom: 13px;
        font-size: 17px;
    }

    .daterangepicker-wrap {
        input {
            padding-left: 35px;
        }
    }

    .daterangepicker-wrap.cal-icon::after {
        top: 5px;
    }

    .select2-selection__rendered {
        font-size: 13px !important;
        border-radius: 4px !important;
    }

}

.invoices-tabs-card {
    .invoices-main-tabs {
        padding: 0 0 6px 0;
        border-bottom: 2px solid #737B8B;

        ul {
            li {
                margin: 0;

                a {
                    padding: 0 15px 6px 15px;
                    border-bottom: 4px solid #203a5f00;
                    font-size: 16px;
                }

                a.active {
                    font-weight: 600;
                    border-bottom: 4px solid #203A5F !important;
                }
            }
        }
    }
}

.page-header:has(.page-header.mb-0),
.content-page-header:has(.page-header.mb-0) {
    margin-bottom: 0 !important;
}

.content-page-header.tomain {
    align-items: top !important;
    -webkit-align-items: top !important;
    margin: 0 0 0 0 !important;
}

.invoiceForm {
    label {
        color: #737B8B !important;
        margin-bottom: 0;
    }

    .middleDiv {
        flex-grow: 1;
        position: relative;
            span.text-danger
            {
            font-size: 12px;
            position: absolute;
            bottom: -25px;
            left: 15px;
        }
    }

    input,
    select,
    textarea,
    .iti__selected-dial-code,
    .select2-selection__rendered {
        color: #737B8B !important;
        font-size: 12px !important;
        font-weight: 500;
    }

    .iti__country-list {
        z-index: 999;
    }

    .iti__flag {
        width: 18px;
        height: 10px;
    }

    .square.sm {
        font-size: 8px;
        padding: 8px 5px !important;
        height: max-content;
        position: absolute;
        top: 5px;
        left: 5px;
        border-radius: 5px;
    }

    .invoiceNoInput input {
        padding-left: 51px;
    }

    span.dollarSign {
        font-size: 16px;
        font-weight: 500;
        color: #3a3a3a;
        position: absolute;
        left: 10px;
        top: 9px;
    }

    .daterangepicker-wrap {
        height: 40px;

        input {
            height: 38px !important;
        }
    }

    .curve_tabel {
        .table {
            border-radius: 8px !important;
            box-shadow: 0px 0px 0px 1px #00000042;

            th,
            td {
                border: 1px solid #00000042 !important;
            }

            th {
                border-top: 0 !important;
                vertical-align: middle;
            }

            th:first-child,
            td:first-child {
                border-left: 0 !important;
                border-radius: 8px 0 0 !important;
            }

            th:last-child,
            td:last-child {
                border-right: 0 !important;
                border-radius: 0 8px 0 0 !important;
            }

            tr:last-child td {
                border-bottom: 0 !important;
            }

            td .select2 {
                height: 32px !important;
                min-width: 85% !important;

                .select2-selection {
                    height: 32px !important;
                    background: #F2F2F2 !important;
                    border: 1px solid #0000001f !important;

                }

                .select2-selection__arrow {
                    height: 40px;
                    right: -27px;
                    top: -2px;
                }
            }

            .priceInput i {
                font-size: 18px;
            }
        }

        .flat-btn {
            margin-right: -6px;
            margin-left: 3px;
        }
    }

}

button.btn.iconBtn {
    padding: 4px 0 0 2px !important;
    width: 23px;
    height: 23px;
    text-align: center;
    align-content: center;
    line-height: 17px;
    border-radius: 4px;
    margin: 0 1px;

    i {
        color: inherit;
        font-size: 17px;
    }
}

.dltBtn {
    border: 1px solid #BB1F23;
    background-color: #BB1F23;
    color: white;
}

.addBtn {
    border: 1px solid #203A5F;
    background-color: #203A5F;
    color: white;
}

.editBtn {
    border: 1px solid #203A5F;
    background-color: white;
    color: #203A5F;
}

.blueRibbon {
    background-color: #203A5F;
    padding: 12px 15px;

    .belowflex {
        div {
            margin: 8px 4px;
        }
    }

    label {
        color: white;
        margin-bottom: 3px;
    }

    input,
    .btn {
        height: 40px;
    }

}

.flat-btn {
    background: unset;
    padding: 0 !important;
    height: unset;
    border: 0;
    width: unset;
    text-align: center;
    background-color: #fff;
}

.flat-btn:hover {
    background-color: #ffffff7c;
}


/* WNSshubham */



@media (min-width: 992px) {
    #toggle_btn {
        width: 40px;
        margin: 0;
        padding: 5px;
    }

    .bigInput {
        width: 140px
    }

    .smInput {
        width: 90px;
    }
}

@media (min-width: 991.98px) {
    .mini-sidebar .sidebar .sidebar-menu ul li a {
        padding: 10px;
        justify-content: center;
    }
}

@media (max-width: 700px) {
    .content-page-header {
        margin-top: 0;
        display: flex;
    }

    .card.mainCardGlobal:before {
        top: 70px;
    }
}