.screen-width{
    width: 1262px;
    margin-left: 500px;
}

/* .login-container {
    height: 582px;
    width: 506px;
} */

.dash-title h1 {
    font-size: 20px;
}

.table thead{
    background: transparent;
}
/* .thead-light{
    background: #E7E9F6;
} */
/* .table thead {
    background: #E7E9F6;
} */

/* .rowMargin{
    margin-top: 0px;
} */


.setStyle {
    font-family: 'Poppins', serif;
}

.setCard {
    border: 1px solid #252F49;
}

.card {
    border-radius: 4px;
    padding: 0px;
}

.innerCards {
    border-radius: 10px;
    padding: 100px;
}

.card .card {
    padding-right: 10px;
    padding-left: 20px;
    margin-bottom: 0px;

}

.card.checked {
    background-color: green;
}

.setBgColor {
    background-color: #D3FFE6;
}

.fontSize {
    font-family: "Poppins", serif;
    font-size: 15px;
    /* color:black; */
}

.countFontSize {
    font-family: "Poppins", serif;
    font-size: 17px;
}

.countFontSize2 {
    font-family: "Poppins", serif;
    font-size: 24px;
    font-weight: 600;
    color: #252F49;
}
.header-heading{
    color: #E8EAF0;
}

.cardFontSize {
    font-family: "Poppins", serif;
    font-size: 12px;
}

.font13 {
    font-size: 13px;
    font-weight: 500;
    /* color: #203A5F; */
}

.cardh5Size {
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.cardAnalyticsSize {
    color: black;
    font-size: 16px;
}

.buttoncolor {
    background-color: #203f5f;
    color: white;
}

.h5Size {
    font-size: 30px;
}

.card.setCardSize {
    margin-right: 10px;
    padding: 0px;
    background-image: url('../images/TruckCard.png');
    background-repeat: no-repeat;
    background-position: bottom 0px right 0px;

}

.status-toggle .check:checked+.checktoggle.tog {
    background-color: #203f5f;
    border: none;
    height: 20px;
    width: 41px;

}

.status-toggle .check:checked+.checktoggle.tog:after {
    border: 2px solid #4D82CE;
    height: 16px;
    width: 16px;
}

.status-toggle .checktoggle.tog {
    background-color: #FF7A7E;
    border: none;
    height: 20px;
    width: 41px;
    /* border: 3px solid #BB1F23; */
}

.status-toggle .checktoggle.tog:after {
    border: 2px solid #BB1F23;
    height: 16px;
    width: 16px;
}

.status-toggle .checktoggle.log {
    background-color: #50E500;
    border: none;
    height: 30px;
    width: 60px;
}
/* 
.status-toggle .checktoggle.log:after {
    border: 1px solid #3EB100;
    height: 25px;
    width: 25px;
} */
.customer-additional-form .status-toggle .checktoggle:after{
    height: 25px;
    width: 25px;

}

.status-toggle .check:checked + .checktoggle.log{
    background-color: gray;
    border: none;
}

.status-toggle .check:checked + .checktoggle.log:after{
    border: none;
    height: 20px;
    width: 20px;
}

.checkbox-cardBg {
    background-color: #D3FFE6;
}

.sidebar {
    width: 268px;
    position: fixed;
    z-index: 10;
    /* Adjust as needed */
}


.sidebarFont {
    font-family: "Poppins", serif;
    font-size: 50px;
}

.page-wrapper {
    padding-top: 0px;
}

.logopin {
    display: block;
    /* margin: 0 auto; */
    width: 100% !important;
    /* text-align: center !important; */
    padding-top: -80px;
    padding-top: -80px;
}

.noticIcon {
    height: 100px;
    width: 100px;
}

.btnColor1 {
    background-color: #203A5F;
}

.cardSeeBtn {
    height: 37px;
    width: 111px;
}

.textSize {
    font-size: 22px;
}

.mainFontFamily {
    font-family: "Poppins", serif;
}

.btnColor {
    background-color: #252F49;
    color: #ffffff;
    /* font-size:14px; */
}

.iconSize {
    font-size: 17px;
}

.shadow-box {
    box-shadow: 3px 1px 15px rgba(0, 0, 0, 0.3);
}

/* .card .card{
    padding: 15px 30px;
} */

.li {
    list-style-type: disc !important;
    color: green;
    /* height:7.5px;
    width:7.5px; */
}

.fixContainer {
    padding: 83px 14px 10px 14px;
}

.innerContainer {
    padding: 15px 109px 15px 30px;
}

.setTopBottomMargin {
    margin: 17px 0px 17px 0px;
}
.margin-header{
    margin: 0px;
}

.profileBg{
    background:transparent;
}

.profileImg{
    width:100%;
    height: 100%;
}

.profileUpdateFont{
    font-style: "Poppins", serif;
    font-size: 14px;
    font-weight: 400;
}


.profile-cover-avatar {
    border : none;
    margin: 0px;
}

.iconResize{
    width: 35px;
    height:35px;
    font-size: 20px;
}

.avatar-edit {
    bottom : 275px;
    right: 70px;
    color:white;
    background-color: #203A5F;
    /* position: top 0px right 0px; */
}

.setBorder{
    border-color: rgba(62, 65, 71, 0.288);
    border-right : none;
    /* border-radius: 4px; */
}

.btn-outline-cancelBtn{
    background-color: #252F49;
    color: white;
}

.avatar-trash{
    bottom: 275px;
    right: 25px;
    color: white;
    border-radius: 50%;
    background-color: #BB1F23;  
    font-size: 20px;
    position:absolute;
    justify-content: center;
    align-items: center;
}

.required::after {
    content: "*";
    color: red;
}
.bg-transparent{
    background-color: transparent;
}
.top-search{
    height: 33px;
    width: 191px;
}

.forms-input{
    width:157px;
    height:31px;
    margin-left:30px;
}

.th-font{
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 400;
}

.bg-success-bg{
    background-color: #B6FFD3;
}

.bg-danger-bg{
    background-color: #FFB5AA;
}

.bg-warning-bg{
    background-color: #FFD6A5;
}

.stock-font{
    font-size:11px;
    border-radius: 4px;
    /* font-weight: 600px; */
}

.input-box{
    border: 1px dashed #CDDDE4;
    color: #AAACB8;
    border-radius: 1px;
    background-size: 8px 6px;
    font-size: 2px;
}


.input-width {
    /* height: 21px; */
    width: 55px;
    font-size: 10px;
    border-radius: 0px;
}
.button-border{
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0px;
    margin: 0px 5px 0px 5px;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    background-color: #1983FE;
    color: white;
    border: none;
}

.bg-color2{
    background-color: #ffffff00;
    border: 0!important;
}
.button {
    display: inline-block;
    padding: 5px 10px;
    margin: 10px;
    background-color: transparent;
    border: 1px solid #ccc;
    color: black;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.input-padding{
    padding: 0px;
}

.no-border{
    border:none;
}

/* .status-toggle .no-circle{
    border: 1px solid #BB1F23;
    height: 16px;
    width: 16px;
} */

/* #rating_6{
    border:0px;
    background-color: green;
} */

.btn-save{
    background-color: #3a3a3a;
    color: white;
}

.toggle-label{
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
}

.faded{
    opacity: 0.5px;
    color: #737B8B !important;
}

.login-logo-font{
    font-family: "Red Rose", serif;
    font-size: 20px;
    font-weight: 700;
}

.bg-image-login{
    background-image: url('../assets/images/Loginimage.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 30px;
    font-weight: 500;
}

.btnBorder{
    border: none;
    color: black;
}
.setColor{
    color: black;
}

.login-btn{
    background: #203A5F;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    border-radius: 0px;
    /* line-height: 1rem;*/
}
.input-placeholder{
    color: #595C5F;
}
.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-control, .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-select, .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
    opacity: .5;
}


/* .input-group-lg>.btn, .input-group-lg>.form-control, .input-group-lg>.form-select, .input-group-lg>.input-group-text {
    opacity: .5;
    border-color: #000000;
}
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {    opacity: .5;
} */


.font-size2{
    font-size: 25px;
    font-family: "Poppins", serif;
    font-weight: 700;
}


.red-rose-fontSet {
    font-family: "Red Rose", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    padding: 11px;
  }

  .backgroundImage{
    background-image: url('../assets/images/Background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
    padding: 0px;
    background-position: absolute;
  }

  .setSize{
    width: 60px;
    height: 72px;
    max-width: auto;
  }
  
.permission-font{
    color: #3A3A3A;
    font-size: 14px;
}

.text-indigo-600{
    background-color: black;
}
.text-checkbox{
    color: #203A5F;
}

.bg-checkbox{
    background-color: #d6e2f1;
}
.form-check-input:checked{
    background-color: #203A5F !important;
    border: 1px solid white !important;
    color: white !important;
    height: 16px;
    width: 16px;
}

.selected2{
    background-color: #203A5F !important;
    border: #203A5F !important;
    color: white !important;
}

.img-size{
    height: 55px;
    width: 60px;
    text-align: center;
    vertical-align: middle;
}

.td-color{
    color: #3A3A3A;   
}

.bg-set{
    background-color: rgb(240, 208, 240);
    color: rgba(243, 8, 153, 0.74);
}


.parentDiv {
    display: inline-block;
    width: auto;
}
.table-responsive .table{
    border: none !important;
}
.table-body tbody tr td{
    border: none !important;
}

.thead-light .no-border th{
    border: none !important;
}

.cd-horizontal-timeline .timeline.tl1{
    max-width: 100%;
    width: 100%;
    margin-top: 70px;
    margin-left: 0px;
    margin-right: 0px;
}

.cd-horizontal-timeline .events a {
    color: black;
}

.card.widthautoset{
    width: auto;
    box-shadow: 3px 5px 15px rgba(44, 44, 44, 0.3);
    border-radius: 13px;
    background-color: #F7F8F9;
    padding: 0px;
}

.icon-size-22{
    height: 22px;
    width: 22px;
    margin: 6px 0px 0px 6px;
}

.d-display{
    display: inline-block;
}

.events-content li{
    width: auto;
}

.cd-horizontal-timeline .filling-line, .cd-horizontal-timeline .events a.selected::after {
    background: black;
}
.cd-horizontal-timeline .filling-line{
    background-color: black;
}
.cd-horizontal-timeline .events a.selected::after {
    background-color: black;
    border: 2px solid black;
}

.cd-horizontal-timeline .events{
    height: 3px;
    background: black;
}
.cd-horizontal-timeline .events a::after {
    border: 3px solid black;
   height: 25px;
   width: 25px;
   bottom: -10px;

}
.fc-prev-button{
    background: white !important;
    color: black !important;
}
.cd-horizontal-timeline .events a.older-event::after {
    border-color: black;
}

.company-booking-address.company-five-address, .invoice-address-details.invoice-five-group, .inovices-card .inovices-widget-header, .multipleSelection .selectbox, .multipleSelection .selectboxes, .app-listing, .error-page, .toggle-sidebar .sidebar-header, .form-group-add .booking-option, .content-invoice-header, .content-page-header, .inovices-widget-header {

    justify-content: left;
}

/* WNSshubham */
.card.mainCardGlobal:before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 2px;
    border-bottom: 1px dashed #dededecc;
    top: 62px;
}
.br_12,
.bg-image-login .w-full.sm\:max-w-md.mt-6.bg-white.shadow-md.overflow-hidden.sm\:rounded-lg
{
    border-radius: 12px!important;
}

.authTabDiv {
    border-bottom: 2px solid #737B8B;
    width: max-content;
    margin: auto;
}

.btnBorder {
    border: none;
    color: black;
    margin-bottom: -3px;
    border-bottom: 5px solid #00000000 !important;
    padding: 5px 10px !important;
}
.btnBorder.active1 {
    text-decoration: none !important;
    border-bottom: 5px solid #203A5F !important;
    color: #203A5F !important;
    font-weight: 600;
}
.btn-primary
{
    background-color: #203A5F!important;
}
.fs_18 
{
    font-size: 18px;
}
.fs_20 
{
    font-size: 20px;
}
.fs_22
{
    font-size: 22px;
}
.fs_24
{
    font-size: 24px;
}
.fs_26
{
    font-size: 26px;
}
.fw_600
{
    font-weight: 600!important;
}
.fw_500
{
    font-weight: 500!important;
}
.col00
{
    color: #000000;
}
.col3A
{
    color: #3A3A3A;
}
.col737
{
    color: #737B8B;
}
.coldarkblue
{
    color: #203A5F;
}
.authBTN {
    border-radius: 0 !important;
    height: 40px;
    line-height: 40px;
    text-align: center;
    justify-content: center;
    text-transform: capitalize !important;
    font-weight: 400 !important;
    font-size: 14px !important;
}
.text-danger, .dropdown-menu > li > a.text-danger {
    color: #BB1F23 !important;
}
.toggle-password1 {
    cursor: pointer;
    font-size: 20px;
    color: #595C5F;
}
.login-card i.ti 
{
    font-size: 20px;
    color: #595C5F!important;
}


input::placeholder,
select::placeholder,
textarea::placeholder
{
    color: #595C5F!important;
}
input,
select,
textarea,
[type=text], input:where(:not([type])), [type=email], [type=url], [type=password], [type=number], [type=date], [type=datetime-local], [type=month], [type=search], [type=tel], [type=time], [type=week], [multiple], textarea, select
{
    color: #3a3a3a!important;
    font-family: 'Poppins', serif!important;
    font-size: 14px!important;
    border-color:#00000027!important;
}
.login-card input.form-control
{
    border-radius: 6px 0 0px 6px!important;
    padding: 10px 15px !important;
    border: 1px solid #00000027!important;
}
.login-card .input-group-text {
    padding: .5rem .8rem;
    border-radius: 0px 6px 6px 0px!important;
    border: 1px solid #00000027!important;
    border-left: 0!important;
}
input:-webkit-autofill {
    background-color: #ffffff;
  }
  
  input:-webkit-autofill:focus {
    background-color: #f0f0f0;
  }
.login-card .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
    opacity: 1;
}
body.mini-sidebar.expand-menu .sidebar {
    width: 245px;
}
.page-wrapper .content {
    padding: 20px;
}
.page-wrapper .content > .card {
    border-radius: 0;
}
.dropdown-menu {
    border-radius: 4px;
}
.content-page-header h6, .content-page-header p {
    font-size: 22px;
    color: #3a3a3a;
    font-weight: 500;
    margin: 0;
}
.basic-info-detail h6 {
    font-size: 14px;
    color: #000;
    margin-bottom: 5px;
}
.basic-info-detail p { 
    color: #3a3a3a;
}
.sidebar .sidebar-menu ul li.active a span {
    color: #203A5F;
    background: #d3d3d3;
    margin-left: 0%;
    margin-right: 0;
}

/* WNSshubham */




.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-control, .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-select, .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
    opacity: 1;
    border-color: #b1a2a2;
}
